<div class="row mt-5">
    <ng-container *ngIf="total > 0">
        <div class="row">
            <div class="col-6">
                <div class="row mt-5 align-items-center justify-content-center"
                    *ngFor="let Product of Products; let i = index">
                    <div class="col-3 position-relative mb-2">
                        <a class="d-block">
                            <img class="img-fluid" src="{{Product.url}}" alt="...">
                        </a>
                    </div>
                    <div class="col-4">
                        <h3> {{Product.name}}</h3>
                        <p class="small text-muted fa-1x">${{Product.price}}</p>
                        <input type="text" class="w-100 text-center" value="{{cartProduct[i].quentity}}" readonly>
                        <button type="button" class="btn btn-sm btn-dark w-100 mt-2"
                            (click)="removeFromCart(cartProduct[i])">
                            Remove From Cart</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-4">
                        <h5>Total : {{total}}</h5>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                    <div class="form-outline my-2">
                        <label class="form-label my-3" for="name">Full Name</label>
                        <input id="name" type="text" class="form-control form-control-lg" name="name" #name="ngModel"
                            ngModel required minlength="3" maxlength="250" placeholder="( Minimum 3 Characters )"
                            pattern="[A-Za-z0-9_]{1,15}" autofocus
                            [ngClass]="{ 'is-invalid': name.touched && !name.valid}" />

                        <!-- formControlName="name" -->

                        <div *ngIf="name.touched && !name.valid" class="invalid-feedback my-2">
                            <h3 class="text-danger" *ngIf="name?.errors?.['required']">
                                This field is required
                            </h3>
                            <h3 class="text-danger" *ngIf="name?.errors?.['minlength']">
                                Minmum length must be 3 Charaters
                            </h3>
                        </div>
                    </div>

                    <div class="form-outline my-2">
                        <label class="form-label my-3" for="address">Address</label>
                        <input id="address" type="text" class="form-control form-control-lg" name="address"
                            #address="ngModel" ngModel placeholder="( Minimum 6 Characters )" required minlength="3"
                            maxlength="250" [ngClass]="{ 'is-invalid': address.touched && !address.valid}" />

                        <div *ngIf="address.touched && !address.valid" class="invalid-feedback my-2">
                            <h3 class="text-danger" *ngIf="address?.errors?.['required']">
                                This field is required
                            </h3>
                            <h3 class="text-danger" *ngIf="address?.errors?.['minlength']">
                                Minmum length is 3 Charaters
                            </h3>
                        </div>

                        <!-- formControlName="address"
                            /> -->

                    </div>

                    <div class="form-outline my-2">
                        <label class="form-label my-3" for="credit">Credit Card Number</label>
                        <input id="credit" type="tel" class="form-control form-control-lg" name="credit"
                            #credit="ngModel" ngModel placeholder="( 16 Digits Number )"
                            [ngClass]="{ 'is-invalid': credit.touched && !credit.valid}" required minlength="16"
                            maxlength="16" />

                        <div *ngIf="credit.touched && !credit.valid" class="invalid-feedback my-2">
                            <h3 class="text-danger" *ngIf="credit?.errors?.['required']">
                                This field is required
                            </h3>
                            <h3 class="text-danger" *ngIf="credit?.errors?.['minlength']">
                                Minmum and Maximum length must be 16 Numbers only.
                            </h3>
                        </div>

                    </div>

                    <h6>We'll never share your payment details with anyone else.</h6>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </ng-container>
    <ng-container *ngIf="total === 0">
        <div class="container my-5 py-5">
            <div class="d-flex justify-content-center align-items-center parent">
                <h2 class="my-3">
                    Your Cart Is Empty
                </h2>
                <a routerLink="/"> Back To Products List And Add Some Products</a>
            </div>
        </div>
    </ng-container>
</div>